a{all: unset;cursor: pointer;}
a:hover{text-decoration: .9px underline;text-underline-offset: 2px;}
label{cursor: pointer;}
header{width: 100%;max-width: 1200px;margin: 0 auto;display: flex;flex-flow: column wrap;justify-content: space-between;place-content: center;}
.first-header{margin: 0 auto;place-content: center;width: 100%;max-width: 1180px;display: flex;flex-flow: row wrap;justify-content: space-between;align-items: center;}
h1{color: rgba(51, 51, 51, 1);font-family: 'Heebo', sans-serif;}
.first-header div:nth-child(1),.first-header div:nth-child(2){margin: 0px 7.5px;}
.first-header div a{color: rgba(51, 51, 51, 1);font-family: 'Poppins', sans-serif;margin: 0px 25px;}
.first-header div a:nth-child(5){margin: 0px 0px 0px 25px;}
.menu-link {display: none;width: 100%;max-width: 35px;position: absolute;right: 10px;top: 25px;z-index: 2;transition: .3s;}
.menu-link img{width: 100%;}
.burger{position: absolute;visibility: visible;opacity: 1;transition: .3s;}
.burger.open{visibility: hidden;opacity: 0;transform: scale(1.15);transition: .3s;}
.burger-open{visibility: hidden;opacity: 0;transition: .3s;}
.burger-open.open{visibility: visible;opacity: 1;transform: scale(1.15);transition: .3s;}
.menu-overlay{background-color: #f9f9f9;height: 100%; width: 100%;position: fixed;visibility: hidden;opacity: 0;text-align: center;z-index: 1;display: grid;place-content: center;gap: 15px;}
.menu-overlay a{color: black;text-decoration: underline .4px;text-underline-offset:5px;}
.menu-overlay.open{opacity: 1;visibility: visible;}header.open{visibility: hidden;opacity: 0;}
main.open{visibility: hidden;opacity: 0;}
article.open{visibility: hidden;opacity: 0;}
section.open{visibility: hidden;opacity: 0;}
footer.open{visibility: hidden;opacity: 0;}
.second-header{margin-top: 30px;display: flex;flex-flow: column wrap;width: 100%;max-width: 400px;margin-left: 200px;}
.second-header h4{color: rgba(45, 156, 219, 1);font-family: 'Poppins', sans-serif;font-size: 12px;letter-spacing: .8px;}
.second-header h2{color: rgba(51, 51, 51, 1);font-family: 'Poppins', sans-serif;font-size: 30px;line-height: 50px;letter-spacing: .8px;}
.third-header{margin: 30px 7.5px 0px 7.5px;display: flex;place-content: center;flex-flow: row wrap;width: 99%;max-width: 1180px;cursor: pointer;}
.third-header img{width: 99%;border-radius: 18px;}
.under{position: absolute;display: flex;place-content: center;flex-flow: row wrap;width: 98%;max-width: 1169px;background-color: rgba(0, 0, 0, .7);border-top-left-radius: 18px;border-top-right-radius: 18px;visibility: hidden;opacity: 0;transition: .25s;}
.under p{font-size: 14px;color: #f9f9f9;}.under.open{visibility: visible;opacity: 1;transition: .25s;}.fourth-header{margin: 30px 0px 75px 0px;display: flex;flex-flow: column wrap;width: 100%;max-width: 400px;margin-left: 200px;}
.fourth-header h2{color: rgba(51, 51, 51, 1);font-family: 'Poppins', sans-serif;font-size: 30px;line-height: 50px;letter-spacing: .8px;}
.fourth-header p{color: rgba(51, 51, 51, 1);font-family: 'Poppins', sans-serif;font-size: 15px;line-height: 18px;letter-spacing: .8px;}
.fourth-header> form >label{color: rgba(130, 130, 130, 1);font-family: 'Poppins', sans-serif;font-size: 12px;line-height: 18px;letter-spacing: .8px;}
.inputs-container{display:flex;padding: 10px;border-radius: 12px;width: 60%;background-color: rgba(242, 242, 242, 1);}
.inputs-container input[type="email"],[type="submit"]{all: unset;font-family: 'Poppins', sans-serif;cursor: pointer;margin: -10px 0px;color: rgba(189, 189, 189, 1);}
.inputs-container input[type="submit"]{color: white;background-color: rgba(45, 156, 219, 1);border-radius: 12px;padding: 10px;position: relative;}
main{width: 100%;max-width: 1000px;margin: 0 auto;display: flex;flex-flow: column wrap;justify-content: space-between;place-content: center;}
main> div:nth-child(1){width: 100%;max-width: 290px;margin: 25px 0px 50px -50px;font-size: 20px;color: rgba(51, 51, 51, 1);font-family: 'Poppins', sans-serif;}
.main-first{display: flex;flex-flow: row wrap;justify-content: space-between;width: 100%;}.main-first > div h2,p,a{color: rgba(51, 51, 51, 1);font-family: 'Poppins', sans-serif;}
.main-first > div p{font-size: 14px;line-height: 20px;}
.child-of-second-main{display: flex;flex-flow: column wrap;width: 100%;max-width: 280px;border-radius: 24px;padding: 20px;cursor: pointer;transition: .2s;}
.uno,.dos,.tres{display: block;margin-bottom: 100px;}
.uno.open,.dos.open,.tres.open{transition: .2s;box-shadow: 1.5px 2.5px 3px 1.5px #D1D1D1;}
.button-uno.open,.button-dos.open,.button-tres.open{color: #f9f9f9;background-color: rgba(45, 156, 219, 1);}
.contain-img1{background-color: rgba(45, 156, 219, 1);width: 100%;display: flex;flex: 1 1 auto;max-width: 30px;border-radius: 16px;padding: 5px;}
.contain-img2{background-color: rgba(39, 174, 96, 1);width: 100%;display: flex;flex: 1 1 auto;max-width: 30px;border-radius: 16px;padding: 5px;}
.contain-img3{background-color: rgba(235, 87, 87, 1);width: 100%;display: flex;flex: 1 1 auto;max-width: 30px;border-radius: 16px;padding: 5px;}
.contain-img1 img{width: 100%;}
.contain-img2 img{width: 100%;}
.contain-img3 img{width: 100%;}
.child-of-second-main a{text-decoration: none;}
.child-of-second-main a button{all: unset;border-radius: 12px;padding: 5px 15px;background-color: rgba(224, 224, 224, 1);color: rgba(130, 130, 130, 1);}
article{max-width: 1100px;margin: 0 auto;display: flex;flex-flow: column wrap;justify-content: space-between;place-content: center;gap: 20px}
.cero-article{margin: 0 auto;width: 75%;color: rgba(51, 51, 51, 1);font-family: 'Poppins', sans-serif;font-size: 17px;line-height: 39px;}
.first-article{display: flex;flex-flow: row wrap;width: 90%;margin: 0 auto;justify-content: center;gap: 20px;align-items: center;margin-top: -170px;}
.first-article h3{font-family: 'Poppins', sans-serif;color: rgba(130, 130, 130, 1);font-size: 12px;letter-spacing: .4px;}
.first-article h2{font-family: 'Poppins', sans-serif;color: rgba(51, 51, 51, 1);font-size: 15px;letter-spacing: .4px;}
.img-column-1{margin-top: 280px;display: flex;flex-flow: column wrap;gap: 20px;}
.img-column{display: flex;flex-flow: column wrap;gap: 20px;}
.contain-widths-img{width: 100%;max-width: 400px;flex: 1 1 auto;}
.contain-widths-img img{width: 100%;border-radius: 8px;}
.contain-widths-img figcaption{margin-bottom: 105px;}
.second-article{text-align: right;width: 74%;margin: 0 auto;margin-top: -160px;}
.second-article-child {display: flex;flex-flow: row wrap;place-content: flex-end;gap: 10px;width: auto;}
.second-article-child a{display: flex;	flex-flow: row wrap;align-items: center;text-decoration: none;color: rgba(45, 156, 219, 1);	}
.second-article-child:hover{text-decoration: .7px underline rgba(45, 156, 219, 1);text-underline-offset: 3px;}
.adjust-img-with{width: 100%;max-width: 30px;}
.adjust-img-with img{width: 100%;}
.principal-section{width: 100%;max-width: 1000px;margin: 0 auto;margin-top: 75px;display: flex;flex-flow: row wrap;justify-content: space-between;}
.principal-section div:nth-child(1){width: 100%;max-width: 310px;display: flex;flex-flow: column wrap;justify-content: center;}
.principal-section > div h5, h2, p{font-family: 'Poppins', sans-serif;} 
.principal-section > div h5{color: rgba(235, 87, 87, 1);font-size: 12px;margin-left: 0px;letter-spacing: .5px;}
.principal-section > div h2{color: rgba(51, 51, 51, 1);line-height: 40px;letter-spacing: .9px;font-size: 24px;}
.principal-section > div p{color: rgba(79, 79, 79, 1);font-size: 13.5px;margin-left: 0px;letter-spacing: .5px;}
.principal-section-img{width: 100%;max-width: 680px;display: flex;justify-content: center;gap: 15px;align-items: center;flex-flow: row wrap;}
.principal-section-img div:nth-child(1){width: 100%;max-width: 250px;}
.principal-section img{width: 100%;border-radius: 24px;}
.principal-section-img-especial div:nth-child(1){margin-bottom: 15px;width: 100%;max-width: 205px;}
.principal-section-img-especial div:nth-child(2){width: 100%;max-width: 225px;}
.secondary-section{margin: 0 auto;width: 100%;max-width: 1000px;display: flex;margin-top: 50px;margin-bottom: 50px;flex-flow: column wrap;}
.secondary-section h2{color: rgba(51, 51, 51, 1);line-height: 42.5px;letter-spacing: .8px;font-family: 'Poppins', sans-serif;}
.secondary-section> div{margin-top: 10px;display: flex;flex-flow: row wrap;align-items: center;}
.secondary-section >div> div:nth-child(1){width: 100%;max-width: 55px;}
.secondary-section div img{width: 100%;border-radius: 12px;}
.secondary-child-adjust-text{display: flex;flex-flow: column wrap;width: 100%;max-width: 180px;}
.secondary-child-adjust-text h4, h5{font-size: 12px;margin: 8px 22.5px;font-family: 'Poppins', sans-serif;}
.secondary-child-adjust-text h4{font-size: 14px;}
.secondary-child-adjust-text h5{font-size: 10px;color: rgba(130, 130, 130, 1);}
footer{padding-top: 50px;width: 100%;background-color: rgba(16, 14, 29, 1);}
footer > div{width: 100%;max-width: 1000px;align-items: center;margin: 0 auto;display: flex;flex-flow: row wrap;justify-content: space-between;}
footer > div> div:nth-child(1){display: flex;flex-flow: column wrap;gap: 20px;padding-bottom: 25px;}
footer > div> div> a{color: rgba(255, 255, 255, 1);}
footer > div >div:nth-child(2){margin-top: -90px;display: flex;width: 100%;max-width: 140px;flex-flow: column wrap;gap: 20px;color: white;}
footer > div >div >div:nth-child(2){margin-top: -30px;display: flex;flex-flow: row wrap;gap: 20px;}
footer>div>div>div>div>a:nth-child(1),
footer>div>div>div>div>a:nth-child(2),
footer>div>div>div>div>a:nth-child(3){width: 100%;max-width: 25px;}
footer>div>div>div>div>a>img:nth-child(1),
footer>div>div>div>div>a>img:nth-child(2),
footer>div>div>div>div>a>img:nth-child(3){width: 100%;}
footer > div >div:nth-child(3){margin-top: -105px;color: white;width: 100%;max-width: 300px;font-family: 'Poppins', sans-serif;}
footer label{font-size: 12px;}
.inputs-footer{background-color: rgba(242, 242, 242, 1);display: flex;padding: 15px;width: 86%;align-content: center;border-radius: 12px;}
.inputs-footer input[type="email"]{all: unset;display:flex;align-content: center;font-size: px;border-radius: 12px;color: black;}
.inputs-footer input[type="submit"]{color: white;text-align: center;background-color: rgba(45, 156, 219, 1);border-radius: 12px;margin-left: 7px;padding: 10px;}
@media(max-width:1200px){.first-header{width: 98%;margin: 0 auto;}}
@media(max-width:1100px){main> div:nth-child(1){margin:0 ;}main> div h2{margin: 25px 5px 50px 5px ;}}
@media(max-width:1005px){footer >div{width: 98%;}}
@media(max-width:979px){.principal-section{place-content: center;}}
@media(max-width:910px){.contain-widths-img figcaption{margin-bottom: 5px;}}
@media(max-width:835px){.second-article{display: flex;margin: 0 auto;width: 70%;}}
@media(max-width:800px){.second-header,.fourth-header{margin:0 auto;}.principal-section{place-content: center;margin: 45px 0px;gap: 20px;}}
@media(max-width:700px){.secondary-section{place-content: center;width: 90%;}}
@media(max-width:640px){main{margin-top: 75px;align-items: center;}.main-first{place-content: center;}.uno,.dos,.tres{margin: 0px 0px 25px 0px;}footer div{text-align: center;flex-flow: column wrap;gap: 150px;}footer > div >div:nth-child(2){margin-top: -125px;margin-bottom: 25px;}footer > div >div >div:nth-child(2){place-content: center;}footer > div >div:nth-child(3){display: grid;place-content: center;}.inputs-footer{display: block;}.inputs-footer input[type="email"]{margin-bottom: 20px;}}
@media(max-width:600px){.first-header div:nth-child(2){display: none;}.menu-link{display: block;}.inputs-container{align-items: center;text-align: center;flex-flow: column wrap;place-content: center;margin: 0 auto;gap: 50px;width: 100%;}.fourth-header label{align-items: center;flex-flow: column wrap;display: flex;}.fourth-header{align-items: center;}}
@media(max-width:490px){.principal-section-img-especial div:nth-child(1),.principal-section-img-especial div:nth-child(2),.principal-section-img div:nth-child(1){width: 100%;max-width: 200px;}}
@media(max-width:420px){.second-header, .fourth-header{width: 80%;}}